<!--src\app\app.component.html-->
<h1>
  Sale data report
</h1>
<br>

<h5> Aggregate by product ( time to refresh: {{ counterProduct }} ) </h5>
<table class="bordered-table">
  <thead>
    <tr>
      <th>Store</th>
      <th>Sales Units</th>
      <th>Sales Revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of displayProduct; let i = index" [class.odd-row]="i % 2 !== 0">
      <td>{{ store.name }}</td>
      <td>{{ store.SalesUnits }}</td>
      <td>{{ store.SalesRevenue }}</td>
    </tr>
  </tbody>
</table>

<h5> Aggregate by store ( time to refresh: {{ counterStore }} ) </h5>
<table class="bordered-table">
  <thead>
    <tr>
      <th>Store</th>
      <th>Sales Units</th>
      <th>Sales Revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of displayStore; let i = index" [class.odd-row]="i % 2 !== 0">
      <td>{{ store.name }}</td>
      <td>{{ store.SalesUnits }}</td>
      <td>{{ store.SalesRevenue }}</td>
    </tr>
  </tbody>
</table>



